@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}


/* Default Code */

.container {
    width: 1320px;
    margin: 0 auto;
}

section {
    margin: 80px 0px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-primary {
    color: #F00;
}

.bg-primary {
    background-color: #F00;
}

.title {
    font-size: 64px;
}

.sub-title {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.text-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

p {
    font-family: 'Inter', sans-serif;
}

.btn {
    background: #F00;
    color: white;
    border: none;
    padding: 16px 32px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
}

/* Banner CSS */

.banner {
    background-image: url('/assets/banner_bg.png');
    height: 600px;
    color: white;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 30px;
}

.banner .overlay {
    background: radial-gradient(circle, #000000a5 0%, #000000d0 82%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h3 {
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner h1 {
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
}



/* categories css */

.categories {
    text-align: center;
}

.categories h1 {
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 20px;
}

.categories h6 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.categories h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-top: 20px;
}

.categories img {
    width: 800px;
    height: 500px;
    margin-top: 50px;
}


/* party_banner css */

.party_banner {
    background-image: url('/assets/Vectorrr.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.party_banner .overlay {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.822) 59%, rgba(0, 0, 0, 0) 100%);
    height: 100%;
    padding: 100px;
    display: flex;
    align-items: center;
}

.party_banner .wrapper {
    width: 70%;
}

.party_banner h1 {
    font-family: Merriweather;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
}

.party_banner p {
    color: white;
    margin: 20px 0;
}

/* party_time section css */

.party_time {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.044) 26%, rgba(255, 0, 0, 0.121) 100%);
    height: 450px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.party_time h3 {
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    line-height: 46px;
}

.party_time button {
    margin-top: 20px;
}

.portfolio h6 {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.portfolio h1 {
    color: #070211;
    font-family: Merriweather;
    font-weight: 900;
    margin: 20px 0;
}

.portfolio p {
    width: 60%;
    margin-bottom: 40px;
}

.portfolio .image_box {
    margin-top: 20px;
}



/* Newsletter section css */

.newsletter {
    border-radius: 10px;
    background: #ff00000d;
    text-align: center;
    padding: 100px 0;
}

.newsletter h1 {
    color: #070211;
    font-family: Merriweather;
    font-weight: 900;
    margin: 10px 0;
}

.newsletter p {
    padding: 0 250px;
    margin: 20px 0;
}

.newsletter img {
    width: 150px;
    height: 150px;
}

.newsletter .email_box {
    background-color: white;
    width: 50%;
    height: 50px;
    margin: 0 auto;
    border-radius: 100px;
    overflow: hidden;
}

.newsletter input {
    height: 100%;
    width: 80%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 18px;
}

.newsletter .email_box button {
    background-color: #F00;
    color: white;
    width: 19%;
    height: 100%;
    font-size: 18px;
    padding: 0px 30px;
    border: none;
}



/* Footer section css */

footer {
    background: #070211;
    color: white;
    padding: 150px 0px 30px 0px;
}

footer .location p {
    line-height: 25px;
}

footer .add-info {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 10px;
}

footer .social {
    display: flex;
    justify-content: center;
    margin: 70px auto;
}

footer .social img {
    width: 40px;
    margin-left: 15px;
}